<style>
    .col-sm-8 {
        text-align: justify;
    }

    .col-sm-8 h1 {
        text-align: center;
    }

    img {
        height: 300px;
        width: 70%;
    }

    .about {
        text-align: center;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <h1 class="bg-info img-rounded">About</h1>
            <br>
            <div class="about"><img class="img-rounded" src="img/about.jpg"></div>
            <br>
            <h4>Graduated from National Institute of Technology,
                Agartala with specialization in Electronics and Commmunication Engineering.
                 Always had a leaning towards IT industry and thus chose to grow as an IT engineer rather than
                an electronics engineer. I have been coding since I was in Higher School but I was unable to follow
                it in my college days but now I'm building my career as a IT Professional because I love doing it and
                <br>
                <br>
                Currently working as a Senior Software Engineer at Capgemini India Private Limited,
                Hyderabad. I have total 6 months of professional experience.
            </h4>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>